.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 1200px;
margin: auto;
/*text-align: center;*/
font-family: arial;
display: inline-block;
resize: both;
overflow: auto;
}

.image{
    float:none;
    margin:auto;
    width:50%
}
.details{
    padding: 30px;
}
.name {
    font-weight:bold;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}

p{
    font-size: 19px;
}
.table table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    
}
.table td {
    text-align: center;
  }
th, td{
    padding: 16px;
    font-size: 17px;

}
.table p{
    font-weight: bold;
}
.details td{
    column-width: 30%;
}